# ignore
/.vscode

/admin

/assets/bootstrap/js
/assets/payment_method-extra
/assets/product_img_jpg
/assets/extra
/assets/tailwindcss
/assets/fontawesome

/auth

/config

package.json
package-lock.json

/others

/node_modules

*.zip
/route
/router

/note

/PHPIDS

LISENCE

/test

product.html
footer.html


/pages
.htaccess
module.js
drag.js
test.js
scrollreveal.js

# temporary
bongoapparel.txt
/assets/bootstrap


